body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 91%, 0.886);
}

#myH1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: hsl(0, 0%, 39%);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: rgb(54, 255, 54);
}
#startBtn:hover{
    background-color: rgb(1, 180, 1);
}

#stopBtn{
    background-color: rgb(255, 24, 24);
}
#stopBtn:hover{
    background-color: rgb(135, 6, 6);
}

#resetBtn{
    background-color: rgb(48, 76, 255);
}
#resetBtn:hover{
    background-color: rgb(9, 16, 142);
}