body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}


#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(63, 63, 63);
    color: white;
}

#keys{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    background-color: rgb(56, 56, 56);
}

button{
    width: 100px;
    height: 100px;
    /* aspect-ratio: 1 / 1; */
    border-radius: 50px;
    border: none;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}




button:hover{
    background-color: rgb(60, 60, 60);
}

button:active{
    background-color: rgb(33, 33, 33);
}

.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(193, 126, 2);
}

.operator-btn:active{
    background-color: rgb(149, 97, 0);
}